<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Salary</title>
</head>
<body>

<form action="#" th:action="@{/salary/saveSalary}" th:object="${salary}" method="post">
    Salary gross month: <input type="number" th:field="*{grossMonth}" />
    <br><br>
    Employee: <select name="employeeId">
        <option th:each="employee : ${employees}"
                th:text = "${employee.firstName} + ' ' + ${employee.lastName}"
                th:value = "${employee.id}"></option>
    </select>

    <input type="submit">



</form>

</body>
</html>