<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>

<form action="#" th:action="@{/employee/saveEmployee}" th:object="${employee}" method="post">
    First Name: <input type="text" th:field="*{firstName}" />
        <br><br>
    Last Name: <input type="text" th:field="*{lastName}" />
        <br><br>
    Position:    <select th:field="*{position}">
        <option th:value="Manager" th:text="Manager"></option>
        <option th:value="Engineer" th:text="Engineer"></option>
        <option th:value="Junior_Developer" th:text="Junior_Developer"></option>
        <option th:value="Mid_Developer" th:text="Mid_Developer"></option>
        <option th:value="Senior_Developer" th:text="Senior_Developer"></option>

</select>

    <br><br>
    <input type="submit">
    <br><br>
    <a href="/employee/">Back to List</a>
</form>

</body>
</html>