<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>

<form action="#" th:action="@{/employee/saveEmployee}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}" />

    <table>
        <tr>
            <td> First Name: <input type="text" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
        </tr>
        <tr>
            <td> Last Name: <input type="text" th:field="*{lastName}" /></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
        </tr>
    </table>


    Position:    <select th:field="*{position}">
        <option th:value="Junior + ' ' + Developer" th:text="Junior + ' ' + Developer"></option>
        <option th:value="Mid + ' ' + Developer" th:text="Mid + ' ' + Developer"></option>
        <option th:value="Senior + ' ' + Developer" th:text="Senior + ' ' + Developer"></option>
        <option th:value="Engineer" th:text="Engineer"></option>
        <option th:value="Manager" th:text="Manager"></option>




</select>

    <br><br>
    <input type="submit">
    <br><br>
    <a href="/employee/">Back to List</a>
</form>

</body>
</html>