<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add detail</title>
</head>
<body>

<form action="#" th:action="@{/detail/saveDetail/{id}(id=${employeeId})}" th:object="${employeeDetail}" method="post">





    <table>
        <tr>
            <td>City: <input type="text" th:field="*{city}" /></td>
            <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></td>
        </tr>

        <tr>
            <td>Street: <input type="text" th:field="*{street}" /></td>
            <td th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></td>
        </tr>
    </table>

    <br><br>

    <input type="submit">
    <br><br>

</form>
<a href="/employee/"><button>Back to List</button></a>


</body>
</html>