<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<input type="button" value="Add Employee"
onclick="window.location.href='addEmployee'; return false"
class="add-button"/>

<input type="button" value="Add Salary"
       onclick="window.location.href='/salary/addSalary'; return false"
       class="add-button"/>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Detail</th>
        <th>Salary</th>

    </tr>



    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"> </td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td> <a th:href="@{/employees/detail(id=${employee.id})}" /> Detail </td>
        <td> <a th:href="@{/salary/employeeId/{id}(id=${employee.id})}" /> Salary </td>



</tr>

</table>

</body>
</html>