<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>City</th>
        <th>Street</th>

    </tr>

    <tr>

    <tr th:each="employeeDetail : ${employeeDetails}">

        <td th:text="${employeeDetail.city}"></td>
        <td th:text="${employeeDetail.street}"></td>
    <td> <div sec:authorize="hasRole('ADMIN')"> <a th:href="@{/detail/updateDetail/{id}(id=${employeeDetail.id})}" /> <button>Update</button></div> </td>




    </tr>

</table>
<br><br>
<a href="/employee/"><button>Back to List</button></a>
</body>
</html>