<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>

    <style>
        table {
            border-collapse: collapse;
            width: 500px;
        }
        th, td {
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}


    </style>

</head>

<table>
   <td> <div sec:authorize="hasRole('ADMIN')"> <a th:href="@{/employee/addEmployee}"> <button>Add Employee</button> </a></div></td>

   <td> <div sec:authorize="hasRole('ADMIN')"> <a th:href="@{/employee/deleteEmployeeForm}"> <button>Delete Employee</button> </a> </div></td>
</table>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Detail</th>
        <th>Salary</th>

    </tr>



    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"> </td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td> <a th:href="@{/detail/{id}(id=${employee.id})}" /> <button>Detail</button> </td>
        <td> <a th:href="@{/salary/{id}(id=${employee.id})}" /> <button>Salary</button> </td>
        <div sec:authorize="hasRole('ADMIN')"> <td> <a th:href="@{/employee/updateEmployee/{id}(id=${employee.id})}" /> <button>Update</button></td> </div>

</tr>

</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>


<div style="position: absolute; bottom: 5px; margin-left: 5px">
    <p th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm:ss')}"></p>
</div>

</body>
</html>