<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a th:href="@{/detail/addDetail/{id}(id=${employeeId})}"> <button> Add Detail </button> </a>

<table>
    <tr>
        <th>City</th>
        <th>Street</th>

    </tr>

    <tr>

    <tr th:each="employeeDetail : ${employeeDetails}">

        <td th:text="${employeeDetail.city}"></td>
        <td th:text="${employeeDetail.street}"></td>
    <td> <a th:href="@{/detail/updateDetail/{id}(id=${employeeDetail.id})}" /> Update </td>
    </tr>

</table>
<br><br>
<a href="/employee/">Back to List</a>
</body>
</html>