<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>



<a th:href="@{/employee/addEmployee}"> <button>Add Employee</button> </a>

<a th:href="@{/employee/deleteEmployeeForm}"> <button>Delete Employee</button> </a>

<table>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Detail</th>
        <th>Salary</th>

    </tr>



    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"> </td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.position}"></td>
        <td> <a th:href="@{/detail/{id}(id=${employee.id})}" /> <button>Detail</button> </td>
        <td> <a th:href="@{/salary/employeeId/{id}(id=${employee.id})}" /> <button>Salary</button> </td>
        <td> <a th:href="@{/employee/updateEmployee/{id}(id=${employee.id})}" /> <button>Update</button></td>



</tr>

</table>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout">
</form>

</body>
</html>