<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a th:href="@{/salary/addSalary/{id}(id=${employeeId})}"> <button>Add Salary</button> </a>

<table>
    <tr>
        <th>Gross</th>
        <th>Tax</th>
        <th>Net</th>
    </tr>

    <tr th:each="salary : ${salaries}">
        <td th:text="${salary.grossMonth}"></td>
        <td th:text="${salary.tax}"></td>
        <td th:text="${#numbers.formatDecimal(salary.netMonth ,2 ,2,'COMMA')}"></td>

    </tr>

</table>

<a href="/employee/">Back to List</a>


</body>
</html>