<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type="button" value="Add Salary"
       onclick="window.location.href='addSalary'; return false"
       class="add-button"/>


<table>
    <tr>
        <th>Gross</th>
        <th>Tax</th>
        <th>Net</th>
    </tr>

    <tr th:each="salary : ${salaries}">
        <td th:text="${salary.grossMonth}"></td>
        <td th:text="${salary.tax}"></td>
        <td th:text="${salary.netMonth}"></td>
    </tr>

</table>

</body>
</html>