<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a th:href="@{/salary/addSalary/{id}(id=${employeeId})}"> <button>Add Salary</button> </a>

<table>
    <tr>
        <th>Gross</th>
        <th>Tax</th>
        <th>Net</th>
    </tr>

    <tr th:each="salary : ${salaries}">
        <td th:text="${#numbers.formatDecimal(salary.grossMonth,2,0,'COMMA')}"></td>
        <td th:text="${#numbers.formatDecimal(salary.tax, 2,0,'COMMA')}"></td>
        <td th:text="${#numbers.formatDecimal(salary.netMonth ,2 ,2,'COMMA')}"></td>
        <td> <a th:href="@{/salary/deleteSalary/{id}(id=${salary.id})}" /> <button> X </button></td>

    </tr>

</table>
<br><br>
<a href="/employee/"><button>Back to List</button></a>


</body>
</html>